body {
    background-image: url("background.jpg");
    }
.heading {
    background-color: rgb(201, 136, 37);
    font-family: monospace;
    color:rgb(231, 224, 25);
    width:100% ;
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 20px;
    }
.switch {
    position: absolute;
    right:20px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
      
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #65558F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #65558F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.main{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width:300px;
  height:400px;
}

.cameraframe{
  position: relative;
  width: 300px;
  height: 400px;
  background-color: beige;
  border-radius: 10px;
}

#camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

#liveFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicking through the overlay */
}

.control-buttons{
  display: flex;
  justify-content: center;
  
}

.result{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width:300px;
  height:400px;
  background-color: aliceblue;
  border-radius: 10px;
}

#canvas{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.downloadbutton{
  display: flex;
  justify-content: center;
}

#download,button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
 }



